#title{
    text-align: center;
    color: rgb(54, 115, 138);
    font-size: 50px;
    padding: 5%;
    position: absolute;
    top: 20%;
    left: 30%;
}

#home{
    text-align: center;
    padding: 5%;
    position: absolute;
    top: 45%;
    left: 40%;
}

#home>button {
    padding: 3px 8px;
    border-radius: 10px;
    background-color: #ffffff;
}

#home>button>a{
    text-decoration: none;
    color: #000000;
}
